
div#bottom
  center
    a.btn.btn-success.btn-small(href="/aboutus")  
      | Về chúng tôi 
      i.fa.fa-child
    a.btn.btn-inverse.btn-small(style="margin-left:10px;", href="#subscribe")  
      | Thông báo qua email 
      i.fa.fa-bullhorn
