extends layout

block js
  script(src="/js/jquery-1.7.2.min.js", type="text/javascript")

block fst-content
  a.title(href="/") Bạn có biết ...
  a.newpost-btn.btn.btn-primary.btn-small(href="/new")  
    | tạo mới 
    i.fa.fa-plus

  a.newpost-btn.btn.btn-inverse.btn-small(href="/subscribe",style="margin-right:10px")
    | nhận email 
  
block snd-content
  blockquote.content
    if (row != null)
      p!= row.text
        br
        small Nguồn: 
          a(href=row.source) #{row.source}
      #facebook
        a.btn.btn-inverse.btn-small(href="/more")  
          | xem cái khác 
          i.fa.fa-lightbulb-o
    else
      | Empty list!
