doctype html
html(lang=vi)
  include header
  body
    .container
      block fst-content
      hr(style="padding-bottom:40px")
      block snd-content
      hr(style="margin-top:50px;margin-bottom:100px;")
      block disqus
    include footer

