extends layout

block js
  link(href="css/bootstrap-wysihtml5-0.0.2.css", rel="stylesheet")
  script(src="js/wysihtml5-0.3.0.js", type="text/javascript")
  script(src="js/jquery-1.7.2.min.js", type="text/javascript")
  script(src="js/bootstrap.min.js", type="text/javascript")
  script(src="js/bootstrap-wysihtml5-0.0.2.js", type="text/javascript")

block fst-content
  a.title(href="/") Tạo mới ...

block snd-content
  div#editform
      form(method="POST", action="/new")
        textarea#myeditor(name="usertext" placeholder="Nhập thông tin ở đây")
        script(type='text/javascript').
          $('#myeditor').wysihtml5();

        input#inputsource.form-control.block(name="source", type="text", placeholder="Nguồn tin")
        span
          input.form-control(name="captcha", type="text", placeholder="Bạn là robot?")
          img(src="/capcha.jpg", height="60px", width="120px")
          a.btn.btn-inverse.btn-small(href="/new")
            i.fa.fa-refresh
        div(style="display:inline;float:right;")
          a.btn.btn-success.btn-small(href="#submit",onclick="$(this).closest('form').submit();") Tạo

