extends layout

block fst-content
  a.title(href="/") Quay về trang chủ ...

block snd-content
  div#editform
    p Gửi thành công! Vui lòng chờ để chúng tôi xác thực thông tin của bạn. 
    p Trong lúc này, hãy tiếp tục khám phá những điều mới mẻ ...

    div(style="display:inline;float:right;")
      a.btn.btn-invert.btn-small(href="/more") Xem thêm nữa
