extends layout

block fst-content
  a.title(href="/") Quay về trang chủ ...

block snd-content
  div#editform
    pre Bạn đã hủy nhận email.

    div(style="display:inline;float:right;")
      a.btn.btn-inverse.btn-small(href="/more") Xem thêm nữa
